<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login or Register</title>

    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        <h4>Login:</h4>
        <form class="login" action="/login" method="post">
            {% csrf_token %}
            Username<input type="text" name="username" value="">
            Email<input type="text" name="email" value="">
            Password<input type="password" name="password" value="">
            <input type="submit" name="submit" value="Submit">
        </form>
        <h4>Register:</h4>
        <form class="register" action="/register" method="post">
            {% csrf_token %}
            Name<input type="text" name="name" value="">
            Username<input type="text" name="username" value="">
            Email<input type="text" name="email" value="">
            Password<input type="text" name="password" value="">
            Confirm password<input type="text" name="confirmpassword" value="">
            <input id="date" type="date" name="birthday">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
